
# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Environment files
.env
.env.local
.env.*.local

# React specific
.DS_Store
/.eslintcache
/.parcel-cache
.vscode/
.idea/
*.swp

# Service worker build output
service-worker.js

# MongoDB data
/data/
*.lock

# Coverage directory for testing
coverage/

# Temporary files and directories
tmp/
temp/

# Debugging files
debug/

# Binaries
*.exe
*.dll
*.so
*.dylib

# OS-specific files
Thumbs.db
.DS_Store

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.bak
*.pid
*.seed

# Optional npm cache directory
.npm/

# Optional Yarn cache directory
.yarn/
.pnp.*

# Miscellaneous
.sass-cache/
*.log
*.zip
*.tar.gz
